.container {
  display: flex;
  gap: 1rem;
}

.label_unclick {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 0.6rem;
  border: 0.1rem solid white;
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.label_click {
  background-color: white;
  color: black;
}
