.polygon,
.polygon:hover {
  transition: fill 0.5s, stroke 0.5s;
  stroke-width: 1rem;
  cursor: pointer;
}

.polygon {
  fill: #60e0ac4d;
  stroke: #50b78d;
}

.polygon:hover {
  fill: #50b78db3;
  stroke: #35795f;
}

.text {
  fill: deeppink;
  font-size: 5rem;
  font-weight: 700;
  text-anchor: middle;
  pointer-events: none;
}
